.button {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  color: var(--gray-100);
  border-radius: 8px;
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--blue-500);
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--blue-300);
}
