.header {
  background: var(--gray-700);

  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.logo {
  display: flex;
  height: 3.6rem;
}

.title {
  
  font-size: 4rem;
  font-weight: 700;
}

.title span:nth-child(1) {
  color: var(--blue-300);
}

.title span:nth-child(2) {
  color: var(--purple-500);
}